<div class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
				<h1 class="mb-0 bread">My Cart</h1>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section ftco-cart">
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list">
					{{cartData}}
					<table class="table cart-table table-hover">
						<thead class="thead-primary">
							<tr class="text-center">
								<th>#</th>
								<th>Image</th>
								<th>Product name</th>
								<th>Price</th>
								<th>Quantity</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{{#each cartData.selectedProduct as | val index |}}
							
							<!-- Start TR-->
							<tr class="text-center">
								<td class="product-remove">{{index}}</td>

								<td class="image-prod">
									<div class="img" style="background-image:url(images/product-3.jpg);"></div>
								</td>

								<td class="product-name">
									<h3>{{val.name}}</h3>
								</td>

								<td class="price">${{val.price}}</td>

								<td class="quantity">
									<div class="input-group mb-3">
										<input type="text" name="quantity" class="quantity form-control input-number"
											value="{{val.quantity}}" min="1" max="100">
									</div>
								</td>
								<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>
							</tr><!-- END TR-->
							{{/each}}
						</tbody>
						
						<tfoot class="thead-primary">
							<tr class="text-center">
								<th>Total Price</th>
								<th colspan="5">$  {{cartData.totalPrice}}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		
	</div>
</section>

<script>
	$(document).ready(function () {

		var quantitiy = 0;
		$('.quantity-right-plus').click(function (e) {

			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			$('#quantity').val(quantity + 1);


			// Increment

		});

		$('.quantity-left-minus').click(function (e) {
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var quantity = parseInt($('#quantity').val());

			// If is not undefined

			// Increment
			if (quantity > 0) {
				$('#quantity').val(quantity - 1);
			}
		});

	});
</script>